# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
*.sdf
*.opensdf
*.VC.db
.idea

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
build/
.packaging/
dist/

# Files
*.obj
*.pdb
*.ilk
*.tlog

# Local env overrides
.env

# Runtime logs
RE_Kenshi_log.txt
