# Copy to .env and customize for your machine.

KENSHI_PATH=H:\SteamLibrary\steamapps\common\Kenshi
KENSHI_DEFAULT_PATH=H:\SteamLibrary\steamapps\common\Kenshi
KENSHILIB_DEPS_DIR=I:\Kenshi_modding\_deps\KenshiLib_Examples_deps
KENSHILIB_DIR=I:\Kenshi_modding\_deps\KenshiLib_Examples_deps\KenshiLib
KENSHI_CONFIGURATION=Release
KENSHI_PLATFORM=x64
KENSHI_PLATFORM_TOOLSET=v100
KENSHI_MOD_NAME=Organize-the-Inventory
